body{
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden ;
}

h1{
    margin: 0px 0px 30px 0px;
    font-size: 3em;
}

.box{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 3% ;
    padding: 25px;
    box-shadow: 5px 5px 13px;
    border-radius: 10px;
    height: 300px;
}

.boxRune{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 3% ;
    padding: 25px;
    box-shadow: 5px 5px 13px;
    border-radius: 10px;
    /* margin-bottom: 3%; */
    height: 350px;
}

.secondMain{
    display: flex;
    /* justify-content:space-evenly; */
}

form{
    display: flex;
}

.main{
    width: 70%;
    justify-content: center;
    /* display: grid; */
    place-content: center;
}

.runeCenter{
    width: 40%;
    justify-content: center;
    display: grid;
    /* place-content: center; */
}

.runeLR{
    width: 30%;
    justify-content: center;
    display: grid;
    /* place-content: center; */
    /* color: lightblue; */
}


.radio{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: left;
    font-size: 130%;
    padding-bottom: 15px;
}

input[type="radio"]{
    margin-bottom: 10px;
}

#randomizeBtn, #randomizeRuneBtn{
    background-color: rgb(185, 134, 134);
    color: white;
    padding: 10px;
    font-size: 130%;
}

#randomizeBtn:hover, #randomizeRuneBtn:hover{
    background-color: rgb(95, 67, 67);
    cursor: pointer;
}

#champParagraph{
    font-size: 2.5em;
    margin: 0px;
    margin-top: 40px;
}

#runeMainType, #runeSecondaryType{
    margin: 5px;
}

.botton{
    color: black;
}